.foo {
    background: #0f0f0f;
    width: -webkit-fill-available;
    display: table;
    height: 36px;
    color: #515151;
}
.foo-links {
    display:table-cell;
    vertical-align: middle;
}
.text-right {
    float: right!important;
    display:inline-block;
}
.text-left {
    display:inline-block;
    float: left!important;
}
.foo-link {
    padding-left:15px;
    padding-right:15px;
}
.patreon-badge {
    width: 110px;
    position: absolute;
    margin-top: -2px;
}
.patreon-badge:hover {
    cursor: pointer;
}