<router-outlet></router-outlet>
<div class="foo">
    <div class="foo-links">
        <div class="text-left">
            <span class="foo-link">&copy; 2019 Chilluju.tvd</span>
            <span class="foo-link"><img src="../assets/patreon.png" class="patreon-badge" onClick="window.open('https://www.patreon.com/chillujutv', '_BLANK')"></span>
        </div>
        <div class="text-right">
            <span class="foo-link link">Podmínky používání</span>
            <span class="foo-link link">Kontakt</span>
        </div>
    </div>
</div>